{% extends "base.html" %}

{% block content %}

<h1>Patients</h1>

<form method="GET">
    <input type="text" name="search" placeholder="Search Patient">
    <button type="submit">Search</button>
</form>

<br>

<a href="{% url 'add_patient' %}">
    <button>Add Patient</button>
</a>

<br><br>
<form method="GET">

<input
type="text"
name="search"
placeholder="Search patient..."
value="{{ search }}">

<button type="submit">

Search

</button>

</form>

<br>
<table>

<tr>
<th>ID</th>
<th>Name</th>
<th>Age</th>
<th>Phone</th>
<th>Disease</th>
<th>Action</th>
</tr>

{% for patient in patients %}

<tr>

<td>{{ patient.id }}</td>

<td>{{ patient.first_name }} {{ patient.last_name }}</td>

<td>{{ patient.age }}</td>

<td>{{ patient.phone }}</td>

<td>{{ patient.disease }}</td>

<td>

<a href="{% url 'edit_patient' patient.id %}">Edit</a>

|

<a href="{% url 'delete_patient' patient.id %}"
onclick="return confirm('Delete this patient?')">
Delete
</a>

</td>

</tr>

{% empty %}

<tr>

<td colspan="6">
No Patients Found
</td>

</tr>

{% endfor %}

</table>
<div>

{% if patients.has_previous %}

<a href="?page=1&search={{ search }}">

First

</a>

<a href="?page={{ patients.previous_page_number }}&search={{ search }}">

Previous

</a>

{% endif %}

Page

{{ patients.number }}

of

{{ patients.paginator.num_pages }}

{% if patients.has_next %}

<a href="?page={{ patients.next_page_number }}&search={{ search }}">

Next

</a>

<a href="?page={{ patients.paginator.num_pages }}&search={{ search }}">

Last

</a>

{% endif %}

</div>
<br>

<div>

{% if patients.has_previous %}

<a href="?page=1">First</a>

<a href="?page={{ patients.previous_page_number }}">
Previous
</a>

{% endif %}

Page {{ patients.number }}

of

{{ patients.paginator.num_pages }}

{% if patients.has_next %}

<a href="?page={{ patients.next_page_number }}">
Next
</a>

<a href="?page={{ patients.paginator.num_pages }}">
Last
</a>

{% endif %}

</div>

{% endblock %}